*.lyx~
*.kate-swp
*.odp#
Bilderbeek20171013/presentation.log
Bilderbeek20171013/presentation.aux
Bilderbeek20171013/presentation.nav
Bilderbeek20171013/presentation.out
Bilderbeek20171013/presentation.snm
Bilderbeek20171013/presentation.toc
Bilderbeek20180509ggplot2/ggplot2-figure/
Bilderbeek20180924TeceMeeting-cache/
Bilderbeek20181016TresMeeting/Bilderbeek20181016TresMeeting-figure/
Bilderbeek20181016TresMeeting/Bilderbeek20181016TresMeeting-cache/
Bilderbeek20181211TeceMeeting/Bilderbeek20181211TeceMeeting-figure/
