*.lyx~
*.kate-swp
*.odp#
Bilderbeek20171013/presentation.log
Bilderbeek20171013/presentation.aux
Bilderbeek20171013/presentation.nav
Bilderbeek20171013/presentation.out
Bilderbeek20171013/presentation.snm
Bilderbeek20171013/presentation.toc
